.player-card {
    max-width: 20rem;
  }
  .player-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .player-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
  