.wrapper-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.new-player-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #14457a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.wrapper-create-label-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wrapper-create-label-input label {
  font-size: 1rem;
  font-weight: 600;
}

.wrapper-input-pairs {
  display: flex;
  gap: 3rem;
}

.ui-dropdown {
  width: 100%;
}
