<p-toast></p-toast>

<form [formGroup]="createPlayerForm" class="wrapper-form">
  <div class="image-container">
    <img [src]="getImage()" alt="Player Image" class="new-player-image" />
  </div>
  <div class="wrapper-inputs">
    <div class="wrapper-input-pairs">
      <div class="wrapper-create-label-input">
        <label>Nombre</label>
        <input formControlName="name" id="name" pInputText />
      </div>
      <div class="wrapper-create-label-input">
        <label>Apellido</label>
        <input formControlName="surname" id="surname" pInputText />
      </div>
    </div>
    <div class="wrapper-input-pairs">
      <div class="wrapper-create-label-input">
        <label>Edad</label>
        <p-inputNumber formControlName="age" id="age"></p-inputNumber>
      </div>
      <div class="wrapper-create-label-input">
        <label>Altura</label>
        <p-inputNumber
          formControlName="height"
          id="height"
          suffix=" cm"
          placeholder=" cm"
        ></p-inputNumber>
      </div>
    </div>

    <div class="wrapper-create-label-input">
      <label>Peso</label>
      <p-inputNumber
        formControlName="weight"
        id="weight"
        suffix=" kg"
        placeholder=" kg"
      ></p-inputNumber>
    </div>

    <div class="wrapper-input-pairs">
      <div class="wrapper-create-label-input">
        <label>Posición</label>
        <p-dropdown
          formControlName="position"
          placeholder="Posición"
          [options]="positions"
          field="position"
        ></p-dropdown>
      </div>
      <div class="wrapper-create-label-input">
        <label>Dorsal</label>
        <p-dropdown
          formControlName="dorsal"
          [options]="dorsals"
          field="dorsal"
          placeholder="Dorsal"
        ></p-dropdown>
      </div>
    </div>
    <div class="wrapper-create-label-input">
      <label>Foto</label>
      <input formControlName="img" id="img" pInputText />
    </div>
  </div>
  <p-button
    type="submit"
    [disabled]="createPlayerForm.invalid"
    (click)="onSubmit()"
    icon="pi pi-check"
    styleClass="p-button-outlined"
    label="Guardar"
  ></p-button>
</form>
