.wrapper-image-name {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 2rem;
}

.wrapper-time-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-rounded-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-edit-player-medical {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

.edit-form-label {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}

.time-label i {
  font-size: 1.25rem;
}

.wrapper-player-info-container h5 {
  font-weight: 400;
  margin: 0.8rem 0;
  font-size: 0.9rem;
}

.wrapper-player-info-container span {
  font-weight: 700;
}

.wrapper-detail-injuries {
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.weight-input {
  width: 3rem;
  margin: 0 0.5rem;
}
