<div class="card pt-3 pb-3 pr-8 pl-8">
  <p-table
    [value]="players"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let header of headers" style="min-width: 200px">
          {{ header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-player>
      <tr>
        <td>
          <img
            [alt]="player.name"
            [src]="getImage(player)"
            width="32"
            style="vertical-align: middle"
          />
          <span class="ml-1 vertical-align-middle"
            >{{ player.name }} {{ player.surname }}</span
          >
        </td>
        <td>{{ player.position }}</td>
        <td>{{ player.goals }}</td>
        <td>{{ player.passes }}</td>
        <td>{{ player.playedMinutes }}</td>
        <td>
          <app-button-edit-coach-form
            [player]="player"
          ></app-button-edit-coach-form>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
