<p-button
  icon="pi pi-user-edit"
  styleClass="p-button-rounded p-button-info p-button-text p-button-raised"
  (click)="openDialogForm()"
></p-button>
<p-dialog *ngIf="player" header="Header" [(visible)]="visible" [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Editor de estadísticas</span>
  </ng-template>
  <div class="image-container">
    <img [src]="getImage(player)" alt="Player Image" class="rounded-image">
    <div class="player-info-container">
        <h5>Nombre: {{player.name}}</h5>
        <h5>Apellido: {{player.surname}}</h5>
        <h5>Posición: {{player.position}}</h5>
    </div>
  </div>  
  <form [formGroup]="playerStatsForm">
    <div class="flex-auto">
      <label class="mb-2 block font-bold" for="minmax-buttons"
        >Minutos jugados</label
      >
      <p-knob formControlName="playedMinutes" [step]="1" [min]="0" [max]="90"></p-knob>
    </div>
    <div class="flex-auto">
        <label class="mb-2 block font-bold" for="minmax-buttons"
          >Goles</label
        >
        <p-inputNumber
          formControlName="goals"
          [showButtons]="true"
          inputId="minmax-buttons"
          [min]="0"
        >
        </p-inputNumber>
      </div>
      <div class="flex-auto">
        <label class="mb-2 block font-bold" for="minmax-buttons"
          >Pases</label
        >
        <p-inputNumber
          formControlName="passes"
          [showButtons]="true"
          inputId="minmax-buttons"
          [min]="0"
        >
        </p-inputNumber>
      </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
    type="button"
    [disabled]="playerStatsForm.invalid"
    icon="pi pi-times"
    (click)="closeDialogForm()"
    label="Cancelar"
    styleClass="p-button-text p-button-danger"
  ></p-button>
    <p-button
      type="submit"
      [disabled]="playerStatsForm.invalid"
      icon="pi pi-check"
      (click)="onSubmit()"
      label="Guardar"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
