/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
