<nav class="navbar">
  <a routerLink="/coaching/dashboard" routerLinkActive="active">
    <i class="pi pi-home"></i>
  </a>
  <div class="nav-links">
    <a routerLink="/coaching/squad-list" routerLinkActive="active">
      <i class="pi pi-users"></i> Crear convocatoria
    </a>
    <a routerLink="/coaching/statistics" routerLinkActive="active"
      >Estadísticas</a
    >
    <a routerLink="/coaching/new-player" routerLinkActive="active"
      >Alta jugadora</a
    >
  </div>
  <div class="nav-actions">
    <a (click)="userLogOut()" class="logout">
      <i class="pi pi-sign-out"></i>
      <span class="tooltiptext"></span>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
